<router-outlet> </router-outlet>

<nav class="app-nav">
  <ul class="app-nav-ul">
    <li class="app-nav-ul-li">
      <a class="app-nav-ul-li-a" href="https://www.facebook.com"> Facebook </a>
    </li>
    <li class="app-nav-ul-li">
      <a class="app-nav-ul-li-a" href="https://www.instagram.com">
        Instagram
      </a>
    </li>
    <li class="app-nav-ul-li">
      <a class="app-nav-ul-li-a" href="https://www.twitter.com"> Twitter </a>
    </li>
    <li class="app-nav-ul-li">
      <a class="app-nav-ul-li-a" routerLink="product"> Product </a>
    </li>
  </ul>
</nav>

<div class="app-div">
  <h1 class="app-div-h1">Principal content</h1>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
  <p class="app-div-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tenetur
    minus suscipit fuga impedit sequi ducimus nisi dolores incidunt inventore
    cupiditate repudiandae maiores quidem corporis minima repellat esse, nihil
    laudantium.
  </p>
</div>
